.m-checkbox {
  text-align: center;
  display: inline;
}
.m-checkbox input {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid var(--gray);
  border-radius: 2px;
}
.m-checkbox input:checked {
  background: url(../../img/Sprites.svg) no-repeat;
  background-position: -1224px -360px;
  border-color: var(--green);
  border-radius: 2px;
}
