@import url("../base/combobox.css");
.lstemployees-header {
  display: flex;
  justify-content: space-between;
  padding: 16px 12px 12px 24px;
}
.title-employee {
  font-size: 24px;
  font-weight: 700;
  color: #111;
}
.lstEmployees-content {
  margin: 0 24px;
  background-color: #fff;
  height: 640px;
  padding-bottom: 8px;
}
.btnAddEmployee {
  margin-right: 12px;
}
.employees-search {
  display: flex;
  padding: 12px;
  justify-content: space-between;
}
.filed-left{
  position: relative;
}
.filed-right{
  display: flex;
}
.search {
  padding-right: 12px;
}

.reload{
  height: 32px;
  display: flex;
}
.mi-refresh {
  margin: 4px 6px;
}
.mi-excel{
  margin: 4px 6px;
}

/* table */
#tbEmployees {
  border-spacing: 0;
  min-width: 100%;
  overflow: auto;
}
.employees-table {
  padding: 8px 24px 8px 16px;
  width: 100%;
  overflow: auto;
  height: calc(100% - 112px);
}
#tbEmployees thead th {
  height: 34px;
  font-size: 12px;
  width: 143px;
  background-color: #eceef1;
  vertical-align: middle;
  position: sticky;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  padding: 0 10px;
}
#tbEmployees tr:hover {
  cursor: pointer;
  background-color: #f3f8f8;
}
#tbEmployees td {
  height: 44px;
  border-bottom: 1px solid #c7c7c7;
  border-right: 1px dotted #c7c7c7;
  padding: 0 10px;
}

.fnc_btn div {
  display: flex;
  justify-content: center;
  text-align: center;
}
.btn_fix {
  color: #0075c0;
  font-weight: 600;
  width: 44px;
  height: 36px;
  padding: 6px 0 6px 16px;
}
.btn_fix:active .txtBtnFix {
  border: 1px solid #0075c0;
}
.btn_arrow {
  width: 46px;
  height: 36px;
  padding: 8px 10px;
}
.btn_arrow:active .mi-arrow-up {
  border: 1px solid #0075c0;
}
/* pagination */
.ms-pagination {
  display: flex;
  justify-content: space-between;
  height: 56px;
  width: 85% !important;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  align-items: center;
}
.left-pagination {
  justify-items: center;
}
.right-pagination {
  display: flex;
  position: sticky;
  right: 80px;
  justify-content: center;
  align-items: center;
}
.total-record {
  padding-left: 24px;
}
.page-number {
  display: flex;
  cursor: pointer;
}

.pageSelected{
  border: 1px solid #bbb;
}
.pageSelected span{
  font-weight: bold;
}

.page-index {
  display: flex;
}
.page-index button {
  width: 20px;
  height: 20px;
  margin: 0 4px;
}
.record-in-page {
  margin-right: 12px;
}

.front-page {
  cursor: default !important;
  color: #9e9e9e;
  padding-right: 8px;
}
.back-page {
  padding-left: 8px;
}
/* pagesize */
.record-in-page select{
  border: 1px solid #bbb;
  padding: 4px 12px;
}
.pagesize{
  width: 200px;
}
/* context-Menu */
.context-menu {
  position: absolute;
  background: #ffffff;
  border-radius: 2px;
  list-style: none;
  overflow: hidden;
  z-index: 1;
  display: none;
  text-align: left;
  border: 1px solid #babec5;
  height: 90px;
}
.context-menu ul li {
  padding: 5px 10px;
}
.context-menu ul li:hover {
  color: #35bf22;
  background-color: #ebedf0;
}
.gop{
  position: absolute;
  left: 55px;
  top: 37px;
  background: #ffffff;
  border-radius: 2px;
  list-style: none;
  overflow: hidden;
  z-index: 1;
  line-height: 30px;
  border: 1px solid #babec5;
  width: 100px;
  height: 30px;
}
.gop ul li {
  padding: 0 10px;
}
.gop ul li:hover {
  background-color: #ebedf0;
  cursor: pointer;
}

/* ko có dữ liệu */
.no-data{
  position: absolute;
  left: 48%;
}
.no-data img{
  margin: 50px 50px 30px;
  width: 132px;
  height: 74px;
}
.no-data p{
  text-align: center;
}