@import url('./base/dialog.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: none;
    text-decoration: none;
}
body{
    font-family: Notosans;
    font-size: 13px;
}

@font-face {
    font-family: Notosans;
    src: url('../../assets/fonts/notosans-regular.2cb88a13.woff2');
}

@font-face {
    font-family: Notosans-Bold;
    src: url('../../assets/fonts/notosans-bold.3ede5aff.woff2');
}

@font-face {
    font-family: Notosans-Semibold;
    src: url('../../assets/fonts/notosans-semibold.df3e6dc4.woff2');
}

@font-face {
    font-family: Notosans-Italic;
    src: url('../../assets/fonts/notosans-italic.1c1aaac9.woff2');
}
.m-headding{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.m-title{
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}
.m-subtitle{
    font-size: 13px;
}
/* icon */
.mi-icon-item{
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    background: url('../../assets/img/Sprites.svg') no-repeat;
    cursor: pointer;
}

/* align */
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
button:focus {
    outline: unset;
}
