
.m-button{
    background-color: #019160;
    border-radius: 4px;
    height: 40px;
    color: #fff;
    padding: 0 24px;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    min-width: 100px;
}
.m-button:hover{
    background-color: #2FBE8E;;
}

.m-button:active{
    background-color: #01B075;
}

.m-button-icon{
    padding-left: 40px;
    padding-right: 16px;
    text-align: left;
    background-repeat: no-repeat;
    background-position: 16px center;
    background-image: url('../../assests/icon/add.png');

}