.m-dialog{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

.m-dialog .m-dialog-content{
    width: 400px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 4px;
}

.m-dialog .m-dialog-content .m-dialog-header{
    padding: 24px;
    position: relative;
}
.m-dialog .m-dialog-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    font-size: 16px;
    border: unset;
    background-color: unset;
    cursor: pointer;
    color: gray;
    border-radius: 0 4px 0 4px;
}
.m-dialog .m-dialog-close:hover{
    background-color: #ccc;
}

.m-dialog .m-dialog-content .m-dialog-body{
    padding: 24px
}

.m-dialog .m-dialog-content .m-dialog-footer{
    height: 60px;
    box-sizing: border-box;
    background-color: #E9EBEE;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 24px;
    border-radius: 0 0 4px 4px;
    box-sizing: border-box;
}
.m-dialog .m-dialog-content .m-dialog-footer button~button{
    margin-left: 8px;
}

.m-dialog-footer .m-button-cancel{
    background-color: #E9EBEE;
    color: #000;
    font-weight: 600;
}
.m-dialog-footer .m-button-cancel:hover{
    background-color: #bbb;
}