.m-table{
    border-collapse: collapse;
    width: 100%;
}

.m-table tr{
    height: 48px;
    border-bottom: 1px solid #bbb;
}

.m-table tr td{
    padding: 0 16px;
}

.m-table tbody tr:nth-child(2n-1){
    background-color: #f4f4f4;
}

table thead th{
    text-align: left;
    padding: 0 16px;
}

.m-table tbody tr:hover{
    background-color: #EBF9F4;
    cursor: pointer;
}

.m-table tbody tr.m-row-selected{
    background-color: #EBF9F4;
}
